extends layout
block content
  
  h1= title
  p Welcome to #{title}
  if user
    h3 Hello #{user.username}
  
  if user_messages

    if user
      if user.admin = true 

        each message in user_messages
          div.message-container
            h5 #{message.title}
            p #{message.text}
            span
              p #{message.user.username}
              p #{message.datetime}
            form(method='POST' action='/message/delete')
              input(type='hidden' name='messageId' value=message.id)
              input(type='submit' value='Delete')


      
      else
      
        each message in user_messages
          div.message-container
            h5 #{message.title}
            p #{message.text}
            span.message-info
              p #{message.user.username}
              p #{message.timestamp}

    else
      each message in user_messages
        div.message-container
          h5 #{message.title}
          p #{message.text}
          span.message-info
            p User: Hidden
            p Date: Hidden
  